<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jonny.android.dbz">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Go" />
        <activity android:name=".Goku_java" />
        <activity android:name=".Gohan_java" />
        <activity android:name=".Vegeta_java" />
        <activity android:name=".Trunks_java" />
        <activity android:name=".CategoryAdapter"></activity>
    </application>

</manifest>